.template {
    min-height: 100vh;
    
    .content {
        margin: 40px auto;
    }
    
    h1 { 
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
        margin: 3.5rem 0 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
        margin: 3rem 0 .8rem;
    }


    p {
        line-height: 1.8;
    }

    a {
        color: var(--highlight-color);
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    a:hover {
        color: black;
        background-color: var(--highlight-color);
        text-decoration: none;
    }

    a:hover:has(img) {
        background-color: unset;
    }
    
    ul, ol {
        padding-left:1.5rem;
        line-height: 1.8;
    }
    
    blockquote > p {
        margin: 1em 0;
        padding: 0 1em;
        font-weight: 500;
        color: var(--font-color-muted);
        border-left: .25em solid var(--border-color-blockquote);
    }
    
}


.technologyStackContainer {
    margin: 1rem 0;
}