.listContainer {
    min-height: 250px;
}

.list {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0
}

.listItem {
    background: transparent;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 1rem;
    padding: .4rem 0;
    text-decoration: none;

    h3 {
        color: var(--font-color-muted);
    }
}

.listItem:hover {
    transform: scale(1.01);
    
    h3 {
        color: var(--font-color-base);
    }
}

.listItem:active {
    transform: scale(1);
}

.date {
    color: var(--font-color-alt);
    font-family: var(--font-family-ibm-plex-mono);
    font-size: 0.9em;
    font-weight: 500;
    margin-left: auto;
    white-space: nowrap;
}