@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global variables */
:root {
    --content-width: 700px;
    --font-family-base: "Montserrat";
    --font-family-monospace: Menlo, "IBM Plex Mono", Menlo, monospace;
    --font-color: white;
    --font-color-muted: #999;
    --background-color: #181818;
    
    --btn-background: #252525;
    
    --footer-color: #bbb;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font-family-base);
    color: var(--font-color);
}

html, body {
    min-height: 100%;
}

body {
    background: var(--background-color);
    background-repeat: no-repeat;
}

p {
    margin: 16px auto;
    line-height: 1.6em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2em;
}


/* layout & nav */
.page-layout {
    margin: 0 auto;
}

nav {
    display: flex;
    margin: 2em auto;
}
nav .links {
    display: inline-block;
    text-align: left;
}
nav a {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}
nav a:hover {
    border-color:white;
    font-weight: 600;
}
nav a:active {
    border-color:white;
    font-weight: 600;
}

/* container */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
    padding: 0 1rem;
}

/* footer */
footer p {
    font-size: smaller;
    text-align: center;
    color: var(--footer-color);
    margin: 40px auto;
}


.button {
    display: inline-block;
    background: var(--btn-background);
    padding: .75rem 1rem;
    border-radius: 10px;
    font-weight: 500;
}


@media screen and (max-width: 700px) {
    
    
}