@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
    color:white;
}

html, body {
    min-height: 100%;
}

body {
    background: #181818;
    background-repeat: no-repeat;
}

p {
    margin: 16px auto;
    line-height: 1.6em;
}

/* layout & nav */
.layout {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    display: flex;
    margin: 40px auto;
}
nav .links {
    display: inline-block;
    text-align: left;
}
nav a {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}
nav a:hover {
    border-color:white;
    font-weight: 600;
}
nav a:active {
    border-color:white;
    font-weight: 600;
}

footer p {
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}