.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:40px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
}
.header h2 {
    font-size: 2em;
}
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background: #252525;
    padding: .75rem 1rem;
    border-radius: 10px;
    font-weight: 500;
}

.heading {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top:40px;
}