
.list {
    display: grid;
    column-gap: 2rem;
    margin: 1rem 0
}

.listItem {
    background: transparent;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    gap: 1rem;
    padding: .4rem 0;
    text-decoration: none;
    padding-bottom: 1px;

    h3 {
        color: var(--font-color-muted);
    }
}

.listItem:hover {
    transform: scale(1.02);
    border-bottom: 3px solid var(--font-color-alt);

    h3 {
        color: var(--font-color-base);
    }
}

.listItem:active {
    transform: scale(1);
}