nav, .navbar {
    display: flex;
    margin: 2em auto;

    .links {
        display: inline-block;
        text-align: left;
    }
}

nav a, .navbar a {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    padding-bottom: 1px;
    border-bottom: 4px solid transparent;
}

nav a:hover, .navbar a:hover {
    border-color: var(--color-yellow-muted);
    transform: scale(1.1);
    font-weight: 700;
}
nav a:active, .navbar a:active {
    transform: scale(1);
}